body {font-family: Verdana, Arial, sans-serif; font-size: 9pt; padding: 5px;}

img {border: none;}
img.button {position: relative; top: 8px;}

.literal {color: green;}
.annotation-uri {color: gray;}
.ontology-uri {color: #990099;}
.active-ontology-uri {color: #330033;}
.active-entity {color: darkblue; font-weight: bold;}

/* keywords - default cyan */
.keyword {color: #007777;}
.comment {color: #777777;}
.some {color: #770077;}
.only {color: #770077;}
.value {color: #770077;}
.min {color: #770077;}
.max {color: #770077;}
.exactly {color: #770077;}

div.codebox {overflow: hidden;
    background: #f1f5f9; width: 95%; padding: 5px;
    border-width: 1px; border-style: solid; border-color: #c7cfd5;
}

#queryform {background: #ddddff; padding: 5px;}
#most_used_classes {text-align: center;}

p.footer {font-size: 8pt; text-align: right;}

h1 {margin-top: 5px; font-size: 14pt; font-weight: bold;}
h2 {margin-top: 5px; margin-bottom: 3px; font-size: 12pt; font-weight: normal;}

a {text-decoration: none; color: black;}
a:hover {text-decoration: underline; color: blue;}

a.subsexpand {color: #555555; font-size: 7pt; text-decoration: underline; line-height: 180%;}

ul {margin-top: 1px; margin-bottom: 1px; margin-left: 1.5em; padding-left: 0.5em;}
li {margin-bottom: 0; margin-top: 2px; border: solid 1px #f1f5f9;}
li.expandable {list-style-type: none; margin-left: -1.5em;}
/*ul {margin-top: 1px; margin-bottom: 1px; margin-left: 10px; padding-left: 5px;}*/