.debug {visibility: hidden;}
.generateddesc { margin-left: .5in; }
.annoprophumanname {text-decoration: underline;}
.propdesc {}
.propname {font-style: italic;}
.classname {}
.datatype {font-style: italic;}
.headterm {font-size: large; font-weight: bold;}
.groupingterm {font-weight: bold; font-size: x-large;}
.classdoc {font-style: italic;}
.topheading {text-align: center;}
.Box {background-color:red; width:60px; margin:0px; margin-bottom: 0px; padding:0px;}
.topBar {background-color: #eee; position: fixed; left: 0; top: 0; width: 100%; border-bottom: solid 1px #aaa; padding: 10px; height: fit-content; }
.topBarCell1 {width: 48%; float: left;}
.topBarCell2 {text-align: center;}
.main {margin-top: 240px;}
.paddingTop {padding-top: 240px;}
.left {text-align: left;}
.center {text-align: center;}
.right {text-align: right;}
.wrapper {position: relative; overflow:auto;}
.paddingRight {padding-right: 10px;}
.highlight {background-color: orange; padding-top: 0;}