
/* 
Text blue: #3D5B96
Dark blue: #C1CEDE
Mid blue: #E4EEF0
Light blue: #F6FFFB
mid green: #B1CCC7
rust: #96433D
brown: #B3956F


dark grey: #7F7396
purple-ish grey: #9FA6B4
light grey: #F5F5F5 (Menu dropdown blocks)

font-family: Verdana, Arial, Helvetica, sans-serif;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
"Lucida Console", Monaco, monospace;
Georgia,"Times New Roman",Times,serif;

*/

/* RESET PAGE STYLING - for consistency across browsers (avoid using their differing defaults) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Prevent mobile browsers from default adapting font sizes of content to make it readable */
body{
    -webkit-text-size-adjust: 100%;
}

/** SAXONICA PAGE STYLING */

/* Body class */
.main{
    background:#C1CEDE;
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
    margin-bottom:0px;
    padding:0 0 0 0;
}

html,body{
    height: 100%;
}

body{
    -webkit-text-size-adjust: 100%;
    padding:0;
    margin:0;
    background:white;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;    
}
#footer{
    height:22px;
    clear:both;
    bottom:0;
    padding:0 0 10px 0;
    margin:0 10px 0 10px;
    text-align:left;
    /*min-height:10%;*/
}

#footer p{
    font-size:8pt;
    background:white;
    padding:0 0 0 0;
    margin:0;
}

/* wrapper for whole page body, fixed width positioned centrally in available space */
#wrapper{
    width:980px;
    margin-left:auto;
    margin-right:auto;
    font-size:10pt;
    background:white;
    box-shadow:0px 0px 15px #3D5B96;
    min-height:100%;
}

/* header and nav container */
#header-container{
    width:980px;
    height:110px;
    position:fixed;
    top:0px;
    z-index:10;
    background:white;
    /*box-shadow:0px 0px 15px #3D5B96;*/
}

/* header section */
#header{
    width:980px;
    min-width:980px;
    height:60px;
    z-index:3;
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
    background-color:#E4EEF0;/*#96433D;*/
    visibility:visible;
    /*border-bottom:3px solid white;*/
}

/* navigation menu bar under header */
#nav{
    width:980px;
    height:25px;
    z-index:5;
    margin-left:0px;
    margin-right:0px;
    margin-bottom:0px;
    visibility:visible;
}

/* breadcrumbs navigation bar under nav menu bar */
#breadcrumbs-submenu-container{
    width:980px;
    height:auto;
    /*overflow:hidden;*/
    background-color:#E4EEF0;
}

#breadcrumbs{
    float:left;
    /*height:15px;*/
    width:400px;
    padding-top:5px;
    padding-bottom:5px;
    background-color:#E4EEF0;
}
#breadcrumbs p{
    font-size:8pt;
    color:#3D5B96;
    padding-left:15px;
    padding-right:15px;
    margin:0px;    
}
#breadcrumbs a{
    color:#3D5B96;
}
#submenu{
    float:right;
    /*height:15px;*/
    /*width:980px;*/
    width:580px;
    /*width:180px;*/
    padding-top:5px;
    padding-bottom:5px;
    background-color:#E4EEF0;    
}
#submenu p{
    font-size:8pt;
    color:#3D5B96;
    padding-left:15px;
    padding-right:15px;
    margin:0px;    
}
#submenu a{
    color:#3D5B96;
}

/* Main content container */
#content-container{
    width:960px;
    background:white;
    padding:120px 0 0 0;
    margin:0px 10px 0 10px;    
    min-height:calc(100% - 120px);
}

/* Main page content block for full page width - e.g. feature matrix */
#fullpage{
    min-height:70%;
    min-height:calc(100% - 180px);
    float:left;
    width:880px;
    z-index:4;
    background-color:white;
    visibility:visible;
    margin-top:0px;
    margin-left:40px;
    margin-right:40px;
    margin-bottom:40px;
    padding-bottom:20px;
}

/* Main page content section block ~2/3 full page width */
#section{
    min-height:70%;
    min-height:calc(100% - 180px);
    float:left;
    width:580px;
    z-index:4;
    background-color:white;
    visibility:visible;
    margin-top:10px;
    margin-left:40px;
    margin-right:30px;
    margin-bottom:30px;
}

/* Main page content secondary 'aside' section block ~1/3 full page width */
#aside{
    float:right;
    width:240px;
    z-index:4;
    background-color:white;
    visibility:visible;
    margin-top:14px;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:20px;
    padding:10px 10px 10px 10px;
    border:2px solid #F5F5F5;
}

/* Main page content secondary 'aside' section block ~1/3 full page width */
/* Fixed on screen, i.e. doesn't scroll with page content */
#fixed-aside{
    position:relative;
    right:10px;
    float:right;
    width:240px;
    z-index:4;
    background-color:white;
    visibility:visible;
    margin-top:14px;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:20px;
    padding:10px 10px 10px 10px;
    border:2px solid #F5F5F5;
}

/* Main page content halfpage block - left */
#halfpage-l{
    /*min-height:70%;
    min-height:calc(100% - 180px);*/
    height:410px;
    float:left;
    width:240px;
    z-index:4;
    background-color:white;
    visibility:visible;
    margin-top:14px;
    margin-left:30px;
    margin-right:20px;
    margin-bottom:20px;
    overflow:auto;
    padding:0px 10px 10px 10px;
    border:2px solid #F5F5F5;
}

/* Main page content halfpage block - right */
#halfpage-r{
    /*min-height:70%;
    min-height:calc(100% - 180px);*/
    height:410px;
    float:right;
    width:580px;
    z-index:4;
    background-color:white;
    visibility:visible;
    margin-top:14px;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:20px;
    overflow:auto;
    padding:0px 10px 10px 10px;
    border:2px solid #F5F5F5;
}

#click-list{
    list-style-image:url('img/triangleClosedGray.png');
    font-size:inherit;
    padding-left:20px;
    padding-right:10px;
}

#click-list li.open{
    list-style-image:url('img/triangleOpenGreen.png');
}


#click-list ul{
    padding-left:5px;
    padding-right:5px;
}

#click-list ul li{
    padding:3px;
}

#click-list a{
    font-size:10pt;
}

#click-list ul.sub-list-tech,
#click-list ul.sub-list-product,
#click-list ul.sub-list-commercial,
#click-list ul.sub-list-company{
    display: none;
}

#click-list ul.visible {
    display: block;
}


/* Header content*/
#header a{
    display:inline-block;
}

#header a img{
    margin:0 0 0 0;
    padding:0 0 0 0;
    text-decoration:none;
}

/* Saxonica logo in header */
.header-saxonica-logo{
    float:left;
    width:260px;
    height:60px;
    padding-left:10px;
}

/* Social media icon links in header */
.social-media{
    float:right;
    width:220px;
    height:40px;
    padding-top:10px;
    padding-bottom:10px;
}

/* font-awesome icons (social media links, etc.) */
.fa{
    display:inline-block;
    font-family:FontAwesome;
    font-style:normal;
    font-weight:400;
    line-height:1;
    color:#B1CCC7;
    padding:8px 8px 8px 8px;
}
.fa:hover,
.fa:active{
    color:#96433D;
}

/* Nav section content */
/* nav bar menu */
#thispage:link,
#thispage:visited{
    color:#96433D;
}
ul.nav{
    list-style-type:none;
    margin:0px auto;
    padding-left:0px;
    padding-right:0px;    
    overflow:hidden;
    background:white;
    /*box-shadow:0px 0px 5px #3D5B96;*/
}
.nav li{
    float:left;
    padding:0;
    /*background: url("img/subnav-divider.png") no-repeat scroll right center transparent; */   
}
.nav a:link,
.nav a:visited{
    display:block;
    width:110px;
    font-size:10.5pt;
    font-weight:normal;
    color:#3D5B96;
    text-align:center;
    padding:3px;
    text-decoration:none;
}
.nav a:hover,
.nav a:active{
    color:#96433D;
}

/* nav dropdown menus */
.nav ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    position:absolute;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    display:none;
    opacity:0;
    visibility:hidden;
    z-index:5;
}
.nav li:hover ul{
    display:block;
    opacity:1;
    visibility:visible;
}
.nav ul li{
    float:none;
    padding:0;
    border:none;
}
.nav ul li a:link,
.nav ul li a:visited{
    width:110px;
    font-size:10pt;
    color:#3D5B96;
    background-color:#F5F5F5;
}
.nav ul li a:hover,
.nav ul li a:active{
    color:#96433D;
}

/* Body general content */

/* Any link (e.g. links within a page) */
a{
    font-family:inherit;
    font-size:inherit;
    font-style:normal;
    color:#3D5B96;
    font-weight:normal;
    text-decoration:none;
}

/* used for in body links */
a.bodylink{
    font-family:inherit;
    font-size:inherit;
    font-style:inherit;
    color:#96433D;
    font-weight:normal;
    text-decoration:none;
}

/* used for anchor links within a page */
a.anchor{
    display:block;
    position:relative;
    top:-102px;
    visibility:hidden;
}

/* used for anchor links in scroll-box (e.g. technology FAQ page) */
a.anchor-in-scroll-box{
    display:block;
    position:relative;
    top:-10px;
    visibility:hidden;
}


/* Used for 'Return to top of page' links (e.g. FAQ page) */
a.top-of-page p{
    font-size:10pt;
    font-style:italic;
    text-align:right;
}

/* used for main page headings */
h1,
h2,
h3,
.subhead{
    text-decoration:none;
    margin-top:0.7em;
    margin-bottom:0.7em;
    line-height:1.6em;
}

h1{
    font-size:13pt;
    font-style:normal;
    color:#3D5B96;
    font-weight:bold;
}

h2{
    font-size:11pt;
    font-style:normal;
    color:#3D5B96;
    font-weight:bold;
}

h3{
    font-size:10pt;
    font-style:italic;
    color:#3D5B96;
    font-weight:normal;
}

/* used for subheads in pref. to H2 etc, to limit underlining width */
.subhead{
    font-size:inherit;
    font-style:normal;
    color:#3D5B96;
    font-weight:normal;
    border-bottom:thin dashed #3D5B96;
    padding-right:5px;
}

/* used for standard text */
p{
    font-family:inherit;
    font-size:10pt;
    font-style:normal;
    color:#3D5B96;
    font-weight:normal;
    text-decoration:none;
    line-height:1.4em;
    padding-right:15px;
    padding-left:15px;
    margin-top:10px;
    margin-bottom:10px;
}

/* used for right-aligned text */
.align-right{
    text-align:right;
}

strong, b{
    font-family:inherit;
    font-weight:bold;
}

i{
    font-family:inherit;
    font-size:inherit;
    font-style:italic;
    font-weight:normal;
    text-decoration:none;
}

blockquote{
	margin: 15px 30px;
}

code{
    font-family:"lucida sans typewriter", courier, monospace;
    font-size:inherit;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    color:#3D5B96;
}

/* Used for general lists */
ul{
    font-family:inherit;
    font-size:10pt;
    font-style:normal;
    color:#3D5B96;
    font-weight:normal;
    text-decoration:none;
    line-height:1.4em;
    list-style-type:disc;
    list-style-position:outside;
    padding-right:15px;
    padding-left:40px;
    margin-top:10px;
    margin-bottom:10px;
}
li{
    font-family:inherit;
    font-size:inherit;
    font-style:normal;
    color:#3D5B96;
    font-weight:normal;
}
ul ul{
    margin-top:5px;
    margin-bottom:5px;
}

/* Used for section index lists (e.g. Technology section main page, W3C page) */
ul.index-list li{
    margin-top:12px;
    margin-bottom:12px;
}
.index-list a.bodylink{
    color:#3D5B96;
}
.index-list ul{
    padding-top:0px;    
    padding-bottom:0px;  
}
.index-list ul li{
    margin-top:6px;
    margin-bottom:6px;
}

/* Documentation table of contents */
/* used for table of contents level 1 */
.toc1{
    font-family:inherit;
    font-size:10pt;
    font-style:normal;
    color:#3D5B96;
    font-weight:bold;
    text-decoration:none;
}

/* used for table of contents level 2 */
.toc2{
    font-family:inherit;
    font-size:10pt;
    font-style:normal;
    color:#3D5B96;
    font-weight:normal;
    text-decoration:none;
}

/* should only be used for table of contents links level 3+ */
ul ul a{
    font-size:9pt;
}

/* used for aside section contents */
.aside *{
    font-size:10pt;
    padding:0 0 0 0;
    margin:0;
    text-decoration:none;
    color:#3D5B96;
    border-collapse:collapse;
}

.aside ul{
    padding-left:20px;
    margin-top:5px;
    margin-bottom:5px;
}

.aside ul li{
    padding-bottom:2px;
}

.aside h2{
    margin-top:0px;
    margin-bottom:5px;
    font-size:11pt;
}

.aside p{
    margin:5px;
}

.aside a.bodylink{
    font-size:inherit;
    font-style:inherit;
    color:#96433D;
    font-weight:normal;
    text-decoration:none;
}

/* Platform logos appear on Products page */
.platform-logo{
    margin:10px;
    padding-left:18px;
    position:relative;
}

/* Used for all tables */
table{
    table-layout:fixed;
    width:auto;
    /*border-collapse:collapse;*/
}
th,
td{
    font-family:inherit;
    font-size:inherit;
    font-style:normal;
    color:#3D5B96;
    text-decoration:none;
    padding-left:15px;
    padding-right:15px;
    padding-top:0px;
    padding-bottom:10px;
}
th{
    font-weight:bold;
    line-height:1.3em;
}
td{
    font-weight:normal;
    text-decoration:none;
    line-height:1.4em;
}

/* Homepage news table */
.news-table td{
    width:250px;
    padding:0px;
}
.news-table a.block-link:link,
.news-table a.block-link:visited{
    padding:5px;
    display:block;
    width:230px;
    background-color:white;
    text-decoration:none;
}
.news-table a.block-link:hover,
.news-table a.block-link:active{
    background-color:#F5F5F5;
}
.highlight{
    color:#96433D;
    font-weight:normal;
}

/* Main page block buttons - purchase, download, products */
table.buttons{
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:20px;
    padding-right:0px;
    padding-left:0px;
    table-layout:fixed;
}
table.buttons tr.buttons{
    text-align:center;
    overflow:hidden;
}
table.buttons tr{
    text-align:left;
    font-size:10pt;
    vertical-align:top;
    margin-top:5px;
    border:8px solid white;
}
table.buttons td{
    padding-bottom:5px;
    width:160px;
    padding-right:15px;
    padding-left:15px;
}
.MainPageButton{
    font-size:14pt;
    padding-top:20px;
    padding-bottom:20px;
    padding-right:10px;
    padding-left:10px;
    color:white;
    visibility:visible;
}
.red{
    background-color:#96433D
}
.green{
    background-color:#B1CCC7
}
.brown{
    background-color:#B3956F
}
.grey{
    background-color:#E4EEF0;
    color:#7D8282;
}
table#one-button{
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
    margin-bottom:30px;
    padding-top:25px;
    padding-bottom:25px;
    padding-right:10px;
    padding-left:10px;
    border:2px solid #F5F5F5;
    border-collapse:separate;
    
}
table#one-button td{
    padding-bottom:0px;
    font-size:14pt;
}
table#one-button td+td{
    width:230px;
    text-align:left;
    vertical-align:middle;
}


/* Products tables */
.products-table{
    margin:10px 15px 10px 15px;
    border-collapse:collapse;
}
.products-table td{
    width:60px;
    padding:0 0 0 0;
    vertical-align:middle;
}
.products-table td + td{
    width:120px;
    text-align:center;
}
.products-table td + td + td{
    width:370px;
    text-align:left;
}

/* Products tables */
.products-table2{
    margin:0px;
    border-collapse:collapse;
}
.products-table2 td{
    width:120px;
    padding:0 0 0 0;
    vertical-align:top;
}
.products-table2 td + td{
    width:460px;
    text-align:left;
}
.products-table2 img{
    margin-left:20px;
    margin-top:0px;
}


/* Download buttons table */
.download-table{
font-size:11pt;
    margin:0px;
    padding:0px;
    text-align:center;
    vertical-align:middle;
    border-collapse:collapse;
}
.download-table td{
    width:80px;
    padding:5px;
    vertical-align:middle;
}
.download-table td+td{
    width:100px;
    padding:5px;
}
.download-table td+td+td+td{
    padding-left:20px;
}
.download-table td+td+td+td+td{
    padding-left:5px;
}
.download-table .DownloadButton{
    padding:10px 10px;
    border:2px solid #F5F5F5;
}
a:hover div.DownloadButton,
a:active div.DownloadButton{
    background-color:#F5F5F5;
}

#resources td{
    width:80px;
    padding:5px;
}
#resources td+td{
    width:150px;
    padding-right:20px;
}

/* Documentation table */
.doc-table{
    margin:0px;
    padding:0px;
    margin-left:10px;
    margin-right:10px;
    text-align:center;
    vertical-align:middle;
    border-collapse:collapse;
}
.doc-table td{
    width:250px;
    padding:5px;    
}
.doc-table td+td{
    padding-left:20px;
}
.doc-table .DocButton{
    padding:10px 10px;
    border:2px solid #F5F5F5;
}
a:hover div.DocButton,
a:active div.DocButton{
    background-color:#F5F5F5;
}

/* Documentation contents tables */
table.doc-contents{
    border:0;
    width:220px;
    margin:0 10px;
    border-collapse:collapse;
}
table.doc-contents tr{
    border-bottom:solid 1px #3D5B96;
}
table.doc-contents tr *{
    border:0;
    line-height:1.2em;
    margin-left:10px;
}
table.doc-contents p{
    margin:2px;
}

/* Tech support page table*/
.support-table{
    margin:5px;
    border-collapse:collapse;
}
.support-table p{
    padding:0;
    margin:0;
}
.support-table td{
    width:130px;
    padding:10px;
    vertical-align:top;
}
.support-table td + td{
    width:400px;
}

.client-table{
    width:100%;
    border:0;
    border-collapse:collapse;
}
.client-table td+td{
    vertical-align:middle; 
    text-align:right;
}

/* used for example code */
.codeblock{    
    font-family:"lucida sans typewriter", courier, monospace;
    font-size:9pt;
    font-style:normal;
    font-weight:normal;
    color:#3D5B96;
    background-color:#F5F5F5;
    text-decoration:none;
    line-height:1.4em;
    white-space:pre-wrap;
    display:block;
    border:none;
    margin-left:15px;
    margin-right:15px;    
    margin-top:10px;
    margin-bottom:10px;
    padding:10px;
}

/* used for example commands */
.command{
    font-size:8pt;
    font-style:normal;
    color:#96433D;
    font-weight:bold;
    text-decoration:none;
    padding-right:15px;
}

/* used for feature matrix table */
table.feature-matrix{
    margin:0px;
    padding:0px;
    border-collapse:collapse;
}
.feature-matrix tr.feature-heading{
    background-color:#F5F5F5;
}
.feature-matrix tr.feature-heading td, .feature-matrix tr.feature-heading th{    
    font-weight:bold;
}
.feature-matrix th{
    padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;
    padding-right:5px;
}
.feature-matrix td{
    border-style:solid;
    border-width:1px;
    border-color:#C0C0C0;
    vertical-align:middle;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;
    padding-right:5px;
    width:35px;
    text-align:center;
}
table#overview{
    margin-bottom:120px;
}
#overview td.topic{
    border-style:solid;
    border-width:1px;
    border-color:#C0C0C0;
    vertical-align:middle;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;
    padding-right:5px;
    width:250px;
    text-align:left;
}
#overview tr:hover{
    background-color:#F5F5F5;
}
/*HOVER POPUP LINKS*/
#overview #popup {
	position: relative;
	display: block;	
	/*width: 130px;*/
	/*line-height: 30px;*/
	/*text-align: right;*/
	/*padding: 0 10px;*/
	/*margin: 0;*/
	/*border: 1px solid #666;*/
	/*text-decoration: none;*/
	/*font-size: 1em;*/
	/*font-weight: bold;*/
}
#overview tr #popup span {
	display: none;
}
#overview tr:hover #popup span {
	display: block;
	position: absolute;
	top: -6px;
	left: 532px;
	width: 320px;
	margin: 0px;
	padding: 5px 10px 8px 10px;
    background-color:#F5F5F5;
	/*color: #335500;*/
	font-weight: normal;
	/*background: white;*/ /*#e5e5e5;*/
	/*text-align: left;*/
	border: 1px solid #C0C0C0;
}
#overview tr:hover #popup span h2 {
	margin: 0px 0px 4px 0px;
	font-size:10pt;
}
#overview tr:hover #popup span p {
	margin: 4px 0px 4px 0px;
	/*padding:3px;*/
	font-size:10pt;
}
.feature-matrix td.feature-name{    
    width:100px;
}
.feature-matrix td.feature-description{    
    width:583px;
    text-align:left;
    padding:10px;
}
.feature-matrix p{
    padding:0;
    margin:0;
}
.feature-title-details-link{
    margin:0px;
    padding:0px;
    margin-bottom:5px;
    border-collapse:collapse;
    width:583px;
    table-layout: auto;
}
.feature-title-details-link td{
    border-collapse:collapse;
    border:0;
    padding:0;
    width:auto;
}

/* used for licenses (html version) */
body.license{
    margin: 20px;
	max-width:800px;
}
h1.license{
    font-family:inherit;
    font-size:12pt;
    font-style:normal;
    color:#96433D;
    font-weight:bold;
    text-decoration:none;
    line-height:15pt;
}
h2.license{
    font-family:inherit;
    font-size:10pt;
    font-style:normal;
    color:#96433D;
    font-weight:bold;
    text-decoration:none;
    line-height:12pt;
}
.licence{
    font-family:inherit;
    font-size:8pt;
    font-style:normal;
    color:#3D5B96;
    font-weight:normal;
    text-decoration:none;
    line-height:11pt;
    margin-top:8px;
    margin-bottom:8px;
}
.licencelink{
    font-family:inherit;
    font-size:8pt;
    font-style:normal;
    color:#3D5B96;
    font-weight:normal;
    text-decoration:underline;
    line-height:11pt;
}

/*hr {
    display:block;
    height:2px;
    margin: 1em 0;
    padding:0;        
    border: 0;
    border-top: 1px solid #F5F5F5;
    color:#F5F5F5;
    border-color:#F5F5F5;
    background-color:#F5F5F5;
}*/


/* used for text in boxed areas - which pages? DL */
.boxed{
    font-family:inherit;
    font-size:8pt;
    font-style:normal;
    color:#96433D;
    font-weight:bold;
    text-decoration:none;
    margin-top:5px;
    margin-bottom:5px;
}

/* Is this used? */
ital{
    font-family:inherit;
    font-size:inherit;
    font-style:italic;
    font-weight:normal;
    text-decoration:none;
}

/* Is this used? */
italb{
    font-family:inherit;
    font-size:inherit;
    font-style:italic;
    font-weight:bold;
    text-decoration:none;
}
/* used for links in boxed areas - which pages? DL */
a.rust{
    font-family:inherit;
    font-size:8pt;
    font-style:normal;
    color:#96433D;
    font-weight:bold;
    text-decoration:underline;
}

/* used for links at the end of a page - which pages? DL */
a.nav{
    font-family:inherit;
    font-size:8pt;
    font-style:normal;
    color:#96433D;
    font-weight:bold;
}
