<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>hudson.diagnosis.TooManyJobsButNoView</string>
  </disabledAdministrativeMonitors>
  <version>1.653</version>
  <numExecutors>6</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.ProjectMatrixAuthorizationStrategy">
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:MikeHypercube</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:abcoates</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:dallemang</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:dsnewman</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:jgeluk</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:MikeHypercube</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:abcoates</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:dallemang</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:dsnewman</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:jgeluk</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:MikeHypercube</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:abcoates</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:dallemang</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:dsnewman</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:jgeluk</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:MikeHypercube</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:abcoates</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:dallemang</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:dsnewman</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:jgeluk</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:MikeHypercube</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:abcoates</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:dallemang</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:dsnewman</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:jgeluk</permission>
    <permission>hudson.model.Computer.Build:MikeHypercube</permission>
    <permission>hudson.model.Computer.Build:abcoates</permission>
    <permission>hudson.model.Computer.Build:dallemang</permission>
    <permission>hudson.model.Computer.Build:dsnewman</permission>
    <permission>hudson.model.Computer.Build:edmcouncil</permission>
    <permission>hudson.model.Computer.Build:jgeluk</permission>
    <permission>hudson.model.Computer.Configure:MikeHypercube</permission>
    <permission>hudson.model.Computer.Configure:abcoates</permission>
    <permission>hudson.model.Computer.Configure:dallemang</permission>
    <permission>hudson.model.Computer.Configure:dsnewman</permission>
    <permission>hudson.model.Computer.Configure:jgeluk</permission>
    <permission>hudson.model.Computer.Connect:MikeHypercube</permission>
    <permission>hudson.model.Computer.Connect:abcoates</permission>
    <permission>hudson.model.Computer.Connect:dallemang</permission>
    <permission>hudson.model.Computer.Connect:dsnewman</permission>
    <permission>hudson.model.Computer.Connect:edmcouncil</permission>
    <permission>hudson.model.Computer.Connect:jgeluk</permission>
    <permission>hudson.model.Computer.Create:MikeHypercube</permission>
    <permission>hudson.model.Computer.Create:abcoates</permission>
    <permission>hudson.model.Computer.Create:dallemang</permission>
    <permission>hudson.model.Computer.Create:dsnewman</permission>
    <permission>hudson.model.Computer.Create:jgeluk</permission>
    <permission>hudson.model.Computer.Delete:MikeHypercube</permission>
    <permission>hudson.model.Computer.Delete:abcoates</permission>
    <permission>hudson.model.Computer.Delete:dallemang</permission>
    <permission>hudson.model.Computer.Delete:dsnewman</permission>
    <permission>hudson.model.Computer.Delete:jgeluk</permission>
    <permission>hudson.model.Computer.Disconnect:MikeHypercube</permission>
    <permission>hudson.model.Computer.Disconnect:abcoates</permission>
    <permission>hudson.model.Computer.Disconnect:dallemang</permission>
    <permission>hudson.model.Computer.Disconnect:dsnewman</permission>
    <permission>hudson.model.Computer.Disconnect:jgeluk</permission>
    <permission>hudson.model.Hudson.Administer:MikeHypercube</permission>
    <permission>hudson.model.Hudson.Administer:abcoates</permission>
    <permission>hudson.model.Hudson.Administer:dallemang</permission>
    <permission>hudson.model.Hudson.Administer:dsnewman</permission>
    <permission>hudson.model.Hudson.Administer:jgeluk</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:MikeHypercube</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:abcoates</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:dallemang</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:dsnewman</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:jgeluk</permission>
    <permission>hudson.model.Hudson.Read:MikeHypercube</permission>
    <permission>hudson.model.Hudson.Read:abcoates</permission>
    <permission>hudson.model.Hudson.Read:dallemang</permission>
    <permission>hudson.model.Hudson.Read:dsnewman</permission>
    <permission>hudson.model.Hudson.Read:edmcouncil</permission>
    <permission>hudson.model.Hudson.Read:jgeluk</permission>
    <permission>hudson.model.Hudson.RunScripts:MikeHypercube</permission>
    <permission>hudson.model.Hudson.RunScripts:abcoates</permission>
    <permission>hudson.model.Hudson.RunScripts:dallemang</permission>
    <permission>hudson.model.Hudson.RunScripts:dsnewman</permission>
    <permission>hudson.model.Hudson.RunScripts:edmcouncil</permission>
    <permission>hudson.model.Hudson.RunScripts:jgeluk</permission>
    <permission>hudson.model.Hudson.UploadPlugins:MikeHypercube</permission>
    <permission>hudson.model.Hudson.UploadPlugins:abcoates</permission>
    <permission>hudson.model.Hudson.UploadPlugins:dallemang</permission>
    <permission>hudson.model.Hudson.UploadPlugins:dsnewman</permission>
    <permission>hudson.model.Hudson.UploadPlugins:jgeluk</permission>
    <permission>hudson.model.Item.Build:MikeHypercube</permission>
    <permission>hudson.model.Item.Build:abcoates</permission>
    <permission>hudson.model.Item.Build:dallemang</permission>
    <permission>hudson.model.Item.Build:dsnewman</permission>
    <permission>hudson.model.Item.Build:edmcouncil</permission>
    <permission>hudson.model.Item.Build:jgeluk</permission>
    <permission>hudson.model.Item.Cancel:MikeHypercube</permission>
    <permission>hudson.model.Item.Cancel:abcoates</permission>
    <permission>hudson.model.Item.Cancel:dallemang</permission>
    <permission>hudson.model.Item.Cancel:dsnewman</permission>
    <permission>hudson.model.Item.Cancel:edmcouncil</permission>
    <permission>hudson.model.Item.Cancel:jgeluk</permission>
    <permission>hudson.model.Item.Configure:MikeHypercube</permission>
    <permission>hudson.model.Item.Configure:abcoates</permission>
    <permission>hudson.model.Item.Configure:dallemang</permission>
    <permission>hudson.model.Item.Configure:dsnewman</permission>
    <permission>hudson.model.Item.Configure:edmcouncil</permission>
    <permission>hudson.model.Item.Configure:jgeluk</permission>
    <permission>hudson.model.Item.Create:MikeHypercube</permission>
    <permission>hudson.model.Item.Create:abcoates</permission>
    <permission>hudson.model.Item.Create:dallemang</permission>
    <permission>hudson.model.Item.Create:dsnewman</permission>
    <permission>hudson.model.Item.Create:edmcouncil</permission>
    <permission>hudson.model.Item.Create:jgeluk</permission>
    <permission>hudson.model.Item.Delete:MikeHypercube</permission>
    <permission>hudson.model.Item.Delete:abcoates</permission>
    <permission>hudson.model.Item.Delete:dallemang</permission>
    <permission>hudson.model.Item.Delete:dsnewman</permission>
    <permission>hudson.model.Item.Delete:edmcouncil</permission>
    <permission>hudson.model.Item.Delete:jgeluk</permission>
    <permission>hudson.model.Item.Discover:MikeHypercube</permission>
    <permission>hudson.model.Item.Discover:abcoates</permission>
    <permission>hudson.model.Item.Discover:dallemang</permission>
    <permission>hudson.model.Item.Discover:dsnewman</permission>
    <permission>hudson.model.Item.Discover:edmcouncil</permission>
    <permission>hudson.model.Item.Discover:jgeluk</permission>
    <permission>hudson.model.Item.Move:abcoates</permission>
    <permission>hudson.model.Item.Move:dallemang</permission>
    <permission>hudson.model.Item.Move:dsnewman</permission>
    <permission>hudson.model.Item.Move:edmcouncil</permission>
    <permission>hudson.model.Item.Move:jgeluk</permission>
    <permission>hudson.model.Item.Read:MikeHypercube</permission>
    <permission>hudson.model.Item.Read:abcoates</permission>
    <permission>hudson.model.Item.Read:dallemang</permission>
    <permission>hudson.model.Item.Read:dsnewman</permission>
    <permission>hudson.model.Item.Read:edmcouncil</permission>
    <permission>hudson.model.Item.Read:jgeluk</permission>
    <permission>hudson.model.Item.Workspace:MikeHypercube</permission>
    <permission>hudson.model.Item.Workspace:abcoates</permission>
    <permission>hudson.model.Item.Workspace:dallemang</permission>
    <permission>hudson.model.Item.Workspace:dsnewman</permission>
    <permission>hudson.model.Item.Workspace:edmcouncil</permission>
    <permission>hudson.model.Item.Workspace:jgeluk</permission>
    <permission>hudson.model.Run.Delete:MikeHypercube</permission>
    <permission>hudson.model.Run.Delete:abcoates</permission>
    <permission>hudson.model.Run.Delete:dallemang</permission>
    <permission>hudson.model.Run.Delete:dsnewman</permission>
    <permission>hudson.model.Run.Delete:edmcouncil</permission>
    <permission>hudson.model.Run.Delete:jgeluk</permission>
    <permission>hudson.model.Run.Update:MikeHypercube</permission>
    <permission>hudson.model.Run.Update:abcoates</permission>
    <permission>hudson.model.Run.Update:dallemang</permission>
    <permission>hudson.model.Run.Update:dsnewman</permission>
    <permission>hudson.model.Run.Update:edmcouncil</permission>
    <permission>hudson.model.Run.Update:jgeluk</permission>
    <permission>hudson.model.View.Configure:MikeHypercube</permission>
    <permission>hudson.model.View.Configure:abcoates</permission>
    <permission>hudson.model.View.Configure:dallemang</permission>
    <permission>hudson.model.View.Configure:dsnewman</permission>
    <permission>hudson.model.View.Configure:edmcouncil</permission>
    <permission>hudson.model.View.Configure:jgeluk</permission>
    <permission>hudson.model.View.Create:MikeHypercube</permission>
    <permission>hudson.model.View.Create:abcoates</permission>
    <permission>hudson.model.View.Create:dallemang</permission>
    <permission>hudson.model.View.Create:dsnewman</permission>
    <permission>hudson.model.View.Create:edmcouncil</permission>
    <permission>hudson.model.View.Create:jgeluk</permission>
    <permission>hudson.model.View.Delete:MikeHypercube</permission>
    <permission>hudson.model.View.Delete:abcoates</permission>
    <permission>hudson.model.View.Delete:dallemang</permission>
    <permission>hudson.model.View.Delete:dsnewman</permission>
    <permission>hudson.model.View.Delete:edmcouncil</permission>
    <permission>hudson.model.View.Delete:jgeluk</permission>
    <permission>hudson.model.View.Read:MikeHypercube</permission>
    <permission>hudson.model.View.Read:abcoates</permission>
    <permission>hudson.model.View.Read:dallemang</permission>
    <permission>hudson.model.View.Read:dsnewman</permission>
    <permission>hudson.model.View.Read:edmcouncil</permission>
    <permission>hudson.model.View.Read:jgeluk</permission>
    <permission>hudson.scm.SCM.Tag:MikeHypercube</permission>
    <permission>hudson.scm.SCM.Tag:abcoates</permission>
    <permission>hudson.scm.SCM.Tag:dallemang</permission>
    <permission>hudson.scm.SCM.Tag:dsnewman</permission>
    <permission>hudson.scm.SCM.Tag:edmcouncil</permission>
    <permission>hudson.scm.SCM.Tag:jgeluk</permission>
  </authorizationStrategy>
  <securityRealm class="org.jenkinsci.plugins.GithubSecurityRealm">
    <githubWebUri>https://github.com</githubWebUri>
    <githubApiUri>https://api.github.com</githubApiUri>
    <clientID>7772a205f1220c60f31e</clientID>
    <clientSecret>7cc914c08e958869335e6b0404c1dfb086019baf</clientSecret>
    <oauthScopes>read:org,user:email</oauthScopes>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <systemMessage>JG&gt;Bear with me, reconfiguring Jenkins from scratch due to config corruption</systemMessage>
  <markupFormatter class="hudson.markup.RawHtmlMarkupFormatter" plugin="antisamy-markup-formatter@1.3">
    <disableSyntaxHighlighting>false</disableSyntaxHighlighting>
  </markupFormatter>
  <jdks>
    <jdk>
      <name>JDK8</name>
      <home></home>
      <properties>
        <hudson.tools.InstallSourceProperty>
          <installers>
            <hudson.tools.JDKInstaller>
              <id>jdk-8u74-oth-JPR</id>
              <acceptLicense>true</acceptLicense>
            </hudson.tools.JDKInstaller>
          </installers>
        </hudson.tools.InstallSourceProperty>
      </properties>
    </jdk>
  </jdks>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <quietPeriod>2</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
  </views>
  <primaryView>All</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label>master</label>
  <nodeProperties/>
  <globalNodeProperties/>
</hudson>