@import "setup/variables.scss";
@import "setup/bootstrap-override.scss";

article p.text {
    padding-bottom: 10px;
}
article p.text-margin-top {
    margin-top: 15px;
}
article ul.nolmal-line-height li,
article ol.nolmal-line-height li{
    line-height: 1.5;
    margin-bottom: 7px;
}
article ul.nolmal-line-height li:before{
    margin-top: 10px;
}
article ul.space-at-top {
    margin-top: 10px;
}