@import "setup/variables.scss";
@import "setup/bootstrap-override.scss";


h1{
    margin-bottom: 30px;
}
h1 + h3{
    padding-top: 10px;
}


article {
    padding-top: 30px;
}
article h2 {
    font-size: 17px;
    color: #455560;
    line-height: 28px;
    text-transform: none;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: left;
    font-weight: 400;
    letter-spacing: 1px;
}

article p.text {
    padding-bottom: 10px;
}
article p.text-margin-top {
    margin-top: 15px;
}
article ul.nolmal-line-height li,
article ol.nolmal-line-height li{
    line-height: 1.5;
    margin-bottom: 7px;
}
article ul.nolmal-line-height li:before{
    margin-top: 10px;
}
article ul.space-at-top {
    margin-top: 10px;
}
article ul.space-at-top li {
  line-height: 24px;
}
article ul.space-at-top li::before {
  margin-top: 10px;
}


@media (min-width: 1900px){
    .d-xxl-block {
        display: block !important;
    }
}
@media (min-width: 2550px){
    .d-xxxl-block {
        display: block !important;
    }
}
@media (min-width: 1900px){
    .d-xxl-none {
        display: none !important;
    }
}

@media (min-width: 1900px){
    .col-xxl-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
}
@media (min-width: 1900px){
    .col-xxl-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 2550px){
    .col-xxxl-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}
@media (min-width: 2550px){
    .col-xxxl-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}



// for some reason the below multiselect styling is missing in styles that come from original styling
// https://github.com/shentao/vue-multiselect/pull/871/commits/918004ad5ca83e9dde3fcef431b1fbae8679c769
.multiselect__clear {
    position: absolute;
    right: 41px;
    height: 40px;
    width: 40px;
    display: block;
    cursor: pointer;
    z-index: 2;
  }
  .multiselect__clear::before {
    transform: rotate(45deg);
  }
  .multiselect__clear::after {
    transform: rotate(-45deg);
  }
  .multiselect__clear::after, .multiselect__clear::before {
    content: "";
    display: block;
    position: absolute;
    width: 3px;
    height: 16px;
    background: #aaa;
    top: 12px;
    right: 4px;
  }