.Main {
  text-align: center;
}

.Main-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Main-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Main-title {
  font-size: 1.5em;
}

.Main-intro {
  font-size: large;
}
